# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы IDE
.vscode/
.idea/

# Артефакты тестов
.pytest_cache/
.coverage
htmlcov/

# Конфигурация пользователя
config/user_config.json

# Замок зависимостей (опционально, но я рекомендую не коммитить)
requirements-lock.txt
